# Build results
bin/
obj/

# Rider
.idea/
*.sln.iml

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.csproj.user

# Visual Studio / VSCode (if you use them later)
.vs/
.vscode/

# NuGet
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Other
*.tmp
*.temp

# User-specific configuration files
appsettings.Development.json
appsettings.*.json
!appsettings.json